.log-in-page {
    height: 600px;

}

.welcome {
    padding-top: 40px;
    color: #ff6f61;
    font-family: "Helvetica Neue";
    font-size: 30px;
}

.log-in-form {
    display: flex;
    justify-content: center;
}

.log-in-form input {
    border: 1px solid #ff6f61;
    height: 30px;
}

.log-in-btn {
    margin-top: 10px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #ff6f6166;
    border: 1px solid #ff6f61;
    color: #ff6f61;
    font-weight: bold;
    font-size: 20px;
}

.log-in-btn:hover {
    background-color: #ff6f61;
    color: white;
}
