.search-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.logo-imgs {
    display:flex;
    flex-direction: row;
    align-content: center;
}



.ig-logo {    
    margin-top: 25px;
    height: 30px;
}

.logo-imgs i {
    margin-top: 23px;
    padding-right: 5px;
    font-size: 30px;
}

.logo-imgs span {
    margin-top: 17px;
    font-size: 30px;
}

input {
    text-align: center;
    width: 200px;
    height: 25px;
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid lightgrey;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    font-size: 30px;    
    margin: 0 5px;
}
